* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
body{
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}

/* -------------------------Common design----------------- */
.container{
    width: 80%;
    margin: 50px auto;  
}
.container-2{
    width: 70%;
    margin: 60px auto;  
}
.btn-primary {
    color: #ffff;
    background-color: #F15B22;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 18px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* -------------------------
    header section 
    banner area design
---------------------------- */
.header {
    background-image: url(../assets/images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.banner-contain {
    width: 60%;
    text-align: right;
    padding-top: 200px;
    padding-left: 150px;
    margin: 0 auto;
    
}

.banner-title {
    color: black;
    font-size: 65px;
    font-weight: 700;
    padding-bottom: 20px;


}

.banner-description {
    color: #414141;
    font-size: 16px;
    font-weight: 450;
    padding-bottom: 20px;
}
/* -------------------------main section my failures area design----------------- */
.failures {
    display: flex;
    align-items: center;
    gap: 85px;
}
.failures-contain{
    width: 50%;
}

.contain-title {
    color: black;
    font-size: 37px;
    font-weight: 700px;
    padding-bottom: 30px;
}

.contain-description {
    color: #414141;
    font-size: 16px;
    font-weight: 500px;
    padding-bottom: 15px;
}

.checkmarks{
    color: #16D887;
    font-size: 19px;
    font-weight: 600;
    padding: 5px 7px;
}

/* -------------------------main section my plan area design----------------- */
.my-plan{
    display: flex;
    gap: 80px;
}
.plan-contain{
    text-align: center;
}
.plan-contain img{
    margin-bottom: 15px;
}
.plan-title{
    color: black;
    font-size: 30px;
    font-weight: 700px;
    padding-bottom: 15px;
}
.plan-description{
    color: #414141;
    font-size: 20px;
    font-weight: 550px;
    padding-bottom: 10px;
}
/* -------------------------main section mindset area design----------------- */
.mindset{
    background-image: url(../assets/images/gradient3.png), url('../assets/images/watch.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.mindset-contain{
    width: 70%;
    padding: 40px 50px;
    margin: 0 auto; 
}
.mindset-title{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700px;
    padding-bottom: 20px;
}
.mindset-contain .btn-primary{
    color: #F15B22;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 16px 28px;
}
/* -------------------------main section about me area design----------------- */

.about-title{
    color: black;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}
.about-container{
    background-color: #F15B22;
    display: flex;
    padding: 40px 40px;
    border-radius: 10px;
    align-items: center;
    gap: 70px;
}
.about-single{
    text-align: center;
}
.about-single .btn-primary{
    color: #F15B22;
    background-color: #ffff;
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
}
.about-single h2{
    color: #ffff;
}
.about-single p{
    color: #dcdcdc;
}

/* -------------------------footer section design----------------- */
.footer-section{
    background: #090909;
}
.footer-contain{
    display: flex;
    align-items: center;
    gap: 40px;
}
.footer-title{
    color: #ffff;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}
.footer-description{
    color: #dcdcdc;
    font-size: 15px;
    font-weight: 450;
    padding-bottom: 15px;
   
}
.future-container, .subscribe-container{
    width: 50%;
    padding: 50px 30px;
}
.future-container img{
    padding-right: 15px;
    cursor: pointer;
}
.subscribe-container input{
    color: #ffff;
    background-color: #000000;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding: 15px 15px;
    border: 1px solid white;
    border-radius: 8px;
    outline: none;
}
.subscribe-container .btn-primary{
    color: #F15B22;
    background-color: #ffff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 15px;
    margin-top: 20px;
}
.copyright{
    color: #F15B22;
    font-size: 12px;
    font-weight: 450;
    font-style: italic;
    text-align: center;
    padding: 10px;
}

/* ---------------------------
    Media query styles
--------------------------- */

/* --------------Mobiles Devices---------------- */
@media only screen and (max-width: 688px) {

    .container, .container-2, 
    .failures-contain, .mindset-contain, 
    .future-container, .subscribe-container{
        width: 100%;
        padding: 20px;
        margin: 0 auto;
    }
    .header{
        background-image: none;
        height: auto;
    }
    .banner-contain{
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    .banner-title, .contain-title, 
    .mindset-title, .about-title{
        font-size: 30px; 
    }
    .banner-description{
        font-size: 14px;
    }
    .failures, .my-plan, 
    .about-container,.footer-contain{
        flex-direction: column;
        gap: 20px;
    }  
}


/* --------------end styles---------------- */