* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* -------------------------header section banner area design----------------- */
.header {
    background-image: url(../assets/images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner-contain {
    text-align: right;
    padding: 220px 230px 120px 800px;

}

.banner-title {
    color: black;
    font-size: 65px;
    font-weight: 700;
    padding-bottom: 20px;


}

.banner-description {
    color: #414141;
    font-size: 16px;
    font-weight: 450;
    padding-bottom: 20px;
}

.btn-primary {
    color: #ffff;
    background-color: #F15B22;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 18px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* -------------------------main section my failures area design----------------- */
.failures {
    display: flex;
    align-items: center;
    padding: 130px 300px 220px 210px;
    gap: 80px;
}

.contain-title {
    color: black;
    font-size: 45px;
    font-weight: 700px;
    padding: 80px 0px 20px 0px;
}

.contain-description {
    color: #414141;
    font-size: 16px;
    font-weight: 500px;
    padding-bottom: 15px;
}

.checkmarks{
    color: #16D887;
    font-size: 19px;
    font-weight: 600;
    padding: 5px 7px;
}

/* -------------------------main section my plan area design----------------- */
.my-plan{
    display: flex;
    padding: 0px 220px 0px 220px;
    gap: 85px;
}
.plan-contain{
    text-align: center;
}
.plan-contain img{
    padding-bottom: 15px;
}
.plan-title{
    color: black;
    font-size: 30px;
    font-weight: 700px;
    padding-bottom: 15px;
}
.plan-description{
    color: #414141;
    font-size: 20px;
    font-weight: 550px;
    padding-bottom: 15px;
}
/* -------------------------main section mindset area design----------------- */
.mindset{
    background-image: url(../assets/images/gradient3.png), url('../assets/images/watch.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.mindset-contain{
    padding: 180px 800px 190px 250px;  
}
.mindset-title{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700px;
    padding-bottom: 15px;
}
.mindset-contain .btn-primary{
    color: #F15B22;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 16px 28px;
}